body {
  background-image: url("/src/imgs/xpBackground.jpg");
  background-size: 120%;
  height: 100%;
}

#taskbar {
  width: 100%;
  height: 40px;
  background-color: #2662DF;

  position: fixed;
  bottom: 0;
}

#desktopFlex {
  padding-top: 80px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#desktop {
  padding-top: 100px;
  width: 30%;
  height: 500px;

  display: flex;
  flex-wrap: wrap;
}

#photo {
  width: 30%;
  height: 300px;
  backdrop-filter: blur(5px);
}

#cmd {
  width: 55%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  
  backdrop-filter: blur(5px);
}


@media only screen and (max-width: 1111px) {
  body {
    background-image: url("/src/imgs/xpBackground.jpg");
    background-size: 200%;
  }
  #desktopFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #cmd {
    width: 90%;
    height: 500px;
  }
  #desktop {
    width: 50%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
  }
}