.Leadership {
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #FFFFFF;
    background-color: #282828;
}

.Leadership-header {
    background-color: #ffb347;

    width: 100%;
    height: 30px;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}