.WorkExperience {
    width: 100%;
    height: 680px;
    overflow: auto;
    color: #FFFFFF;
    background-color: #282828;
}

.WorkExperience-header {
    background-color: #2662DF;

    width: 100%;
    height: 30px;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.logo {
    width: 100px;
}

.WorkExperience-content-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 30px;

}

.WorkExperience-content1 {
    margin-top: 25px;
    padding: 10px;
    
    width: 95%;
    height: 150px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;   

}

.WorkExperience-content2 {
    margin-top: 25px;
    padding: 10px;

    
    width: 95%;
    height: 150px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}

.WorkExperience-content3 {
    margin-top: 25px;
    padding: 10px;

    width: 95%;
    height: 150px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}

.WorkExperience-ptext {
    font-size: 18px;
    margin-left: 20px;
}

.photo {
    border-radius: 10px;
    width: 25%;
    margin: 15px;
  }